<div>
    <form action="/users/newResetPassword" method="get" enctype="application/x-www-form-urlencoded">
        <label for="_email">Enter your email to reset your password:</label>
        <input type="email" name="email" id="_email" required="true">

        <button type="submit">Send recovery email</button>
    </form>
</div>