<h1> Home </h1>

<div>
    
    {{#if isNotLoggedIn}}
    <a href="/login" class="boton-generico"> Login </a>
    <a href="/forgot-password" class="boton-generico"> Reset Password </a>
    <a href="/register" class="boton-generico"> Register </a>
    
    {{/if}}

    {{#if isLoggedIn}}
    <a href="/profile" class="boton-generico"> My Profile </a>
    <a href="/api/sessions/logout" class="boton-generico"> Logout </a>
    <a href="/api/products" class="boton-generico"> Products </a>
    <a href="/api/carts/{{cartId}}" class="boton-generico"> Cart </a>
    <a href="/upload-documents" class="boton-generico"> Upload Documents </a>
    {{/if}}
</div>