<h1> Success!</h1>

<div class="tarjeta">
    <h2> Ticket N°: {{ticket.code}} </h2>
    <h2> Amount: {{ticket.amount}} </h2>
    <h3> Date: {{ticket.purchase_datetime}} </h3>
    <h3> Purchaser: {{ticket.purchaser}} </h3>
</div>

<h1> Thank you for buying with us! Hope to see you again. </h1>

<a href="/" class="boton-generico"> Home </a>